{% extends 'layout.html' %}


{% block header %}
<h1 class="title-content" >{% block title %} Contactos {% endblock %}</h1>
{% endblock %}
{% block action %}
<a href="{{ url_for('contact.create')}}" class="button">Nuevo</a>
{% endblock %}
{% block content %}
{% for contact in contacts %}
<div class="content-data">
    <div class="contact-card">
        <div class="card-name">{{ contact['firstname'] }} {{ contact['lastname'] }}</div>
        <div class="card-contact">{{ contact['role'] }}</div>
        <div class="card-contact">{{ contact['company'] }}</div>
        <div class="card-contact">{{ contact['mail'] }}</div>
        <div class="card-contact">{{ contact['phone'] }}</div>
        <div class="card-options">
            <a class="button-card" href="{{ url_for('contact.update', id=contact['id']) }}"">Editar</a>
            <a class="button-card" href="{{ url_for('contact.delete', id=contact['id']) }}">Borrar</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}