{% extends 'layout.html' %}


{% block header %}
<h1 class="title-content">{% block title %} Actualizar contacto {% endblock %}</h1>
{% endblock %}
{% block action %}
<a href="{{ url_for('contact.home')}}" class="button">Volver</a>
{% endblock %}
{% block content %}
<div class="contact-from">
    <form method="POST">
        <div class="contatc-input">
            <label for="conpany">Nombre de la empresa:</label>
            <input type="text" name="company" value="{{ contact['company'] }}" >            
        </div>
        <div class="contatc-input">
            <label for="conpany">Rol en la empresa:</label>
            <input type="text" name="role" value="{{ contact['role'] }}" >
        </div>
        <div class="contatc-input">
            <label for="conpany">Nombre:</label>
            <input type="text" name="firstname" value="{{ contact['firstname'] }}">
        </div>
        <div class="contatc-input">
            <label for="conpany">Apellidos:</label>
            <input type="text" name="lastname" value="{{ contact['lastname'] }}" >
        </div>
        <div class="contatc-input">
            <label for="conpany">Correo:</label>
            <input type="text" name="mail" value="{{ contact['mail'] }}">
        </div>
        <div class="contatc-input">
            <label for="conpany">Numero de contacto:</label>
            <input type="text" name="phone" value="{{ contact['phone'] }}" >
        </div>
        <div class="contatc-input">
            <button class="button">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}