body {
	font-family: 'Inter', sans-serif;
	background-color: #ddd;
	margin: 0;
}
.sidebar {
	background-color: navy;
	color: white;
	height: 100vh;
	width: 12.5%;
	position: fixed;
	padding: 10px;
}

.layout {	
	margin-left: 13.5%;
	margin-right: 0.5%;
	padding: 10px;
}

.title-content {
	margin-left: 20px;
}

.logo {
	margin-bottom: 40px;
	text-align: center;
}

#logosvg {
	width: 45%;
	height: 45%;
	display: block;
	margin: auto;
}
@media all and (max-width:720px) {
	#text-logo { 
		font-size: 0;}
}

.top-bar {
	margin-top: 20px;
	display: flex;
    justify-content: space-between;
}

input {
	padding-left: 15px;
	border-radius: 10px;
	font-size: 14px;
	height: 30px;
	width: 100%;
}

#search {
	margin-left: 20px;
	width: 75%;
}

#search-bar {		
	width: 75%;	
}

.action {
	margin-top: 5px;
}

.button {
    font-size: 14px;
    transition: background-color 0.5s ease;
    background-color: navy;
    color: #fff;
    align-self: center;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}

.button:hover {
    background-color: #674dd4;
}

.content {
	min-width: 300px;
	margin-left: 20px;
	margin-right: 1%;
	padding-right: 10px;
	
}

.content-data {
	width: 100%;	
}

.contact-from {
	width: 60%;
}

.contatc-input {		
	margin-top: 20px;
}

.contact-card {
	background-color: #fff;
	margin-top: 20px;
	margin-right: 20px;
	padding: 10px;
	width: 300px;
	min-width: 300px;
	border-radius: 5px;
	float: left;
	display: block;
	
}

.card-name {
	font-size:large;
	font-weight: 600;
	color: navy;
}

.card-contact {
	font-size: smaller;
	font-weight: 400;
}

.card-options {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}

.button-card {
	font-size:small;
	transition: background-color 0.5s ease;
    background-color: navy;
    color: #fff;
    align-self: center;
    padding: 8px 15px;
	margin-left: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: none;
}

.button-card:hover {
    background-color: #674dd4;
}